@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: gray;
    weight: 200px;
    height: 200px;
    border-radius: 10px;
}